<div class="container">
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
			<img src="/volebo.svg" />
		</div>
	</div>
	<div class="row">
		<div class="text-center col-xs-12 col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
			<h2 class="header">{{__ "development.header"}}</h2>
			<p class="lead">{{__ "development.text"}}</p>

			<form action="https://formspree.io/volebo.net@gmail.com" method="POST">

				<span id="subscribe-help" class="help-block">{{__ "development.subscribe.text"}}</span>

				<input type="text" name="_gotcha" style="display:none" />
				<input type="hidden" name="_subject" value="under-development-subscriber" />

				<div class="vlb-subscribe-input form-group col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
					<label for="subscribe-_replyto" class="sr-only">{{__ "development.email.label"}}</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input class="form-control" placeholder="me@example.com" id="subscribe-_replyto" type="email" name="_replyto" aria-describedby="subscribe-help" />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary" type="button">{{__ "development.subscribe.label"}}</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="text-center col-md-12">
			<a href="https://youtube.com/c/volebonet" target="_blank"><i class="fa fa-2x fa-youtube-square" aria-hidden="true"></i></a>
			<a href="https://plus.google.com/+VoleboNet" target="_blank"><i class="fa fa-2x fa-google-plus-square" aria-hidden="true"></i></a>
		</div>
	</div>
</div>

{{#*inline "HEAD"}}
	<link href="/development.css" rel="stylesheet"/>
	<title>{{__ "development.title" ""}}</title>
{{/inline}}

